---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/react/Header";
import Footer from "../components/Footer.astro";
import { cn } from "@/lib/utils";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { TypographyH1 } from "@/components/ui/typography";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import ScienceSVG from "@/components/ScienceSVG.astro";
import quotes from "@/lib/quotes.json";
const quote = (() => {
  function getSeedFromDate() {
    const now = new Date();
    const year = now.getFullYear();
    const month = now.getMonth() + 1; // Months are zero-based in JavaScript
    const day = now.getDate();

    // Combine year, month, and day into a single number to use as a seed
    return year * 10000 + month * 100 + day;
  }
  function seededRandom(seed) {
    const x = Math.sin(seed) * 10000;
    return x - Math.floor(x);
  }
  const seed = getSeedFromDate();
  const randomValue1 = seededRandom(seed);
  const index = Math.floor(randomValue1 * quotes.length);
  return quotes[index];
})();
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header client:only="react" />
    <main class:list={["flex", "flex-col", "gap-5"]}>
      <TypographyH1 classes={["mb-8", "text-center", "text-3xl"]}>
        Spirit, Opportunity, Curiosity, Perseverance
      </TypographyH1>
      <div class:list={["flex", "w-full", "gap-5", "md:flex-row", "flex-col"]}>
        <Card className="flex-1">
          <CardHeader>
            <CardTitle>Welcome!</CardTitle>
            <CardDescription
              ><i
                >to mr. buckley's science classes<br />at <a
                  target="_blank"
                  rel="noopener noreferrer"
                  class="hover:underline no-underline font-semibold text-orange-500 opacity-80"
                  href="https://meritprepacademy.org"
                  >merit preparatory academy</a
                ></i
              ></CardDescription
            >
          </CardHeader>
          <CardContent className="prose dark:prose-invert">
            <p></p>
            <ScienceSVG />
          </CardContent>
        </Card>
        <Card className="flex-1">
          <CardHeader>
            <CardTitle>Quick Links</CardTitle>
            <CardDescription><i>get where you need to go</i></CardDescription>
          </CardHeader>
          <CardContent className="prose dark:prose-invert">
            <h3>Disclosures</h3>
            <ul>
              <li>
                <a
                  class="hover:underline no-underline font-semibold text-orange-500"
                  href="/astronomy/disclosure">Astronomy</a
                >
              </li>
              <li>
                <a
                  class="hover:underline no-underline font-semibold text-orange-500"
                  href="/earth-systems/disclosure">Earth Systems</a
                >
              </li>
              <li>
                <a
                  class="hover:underline no-underline font-semibold text-orange-500"
                  href="/physics/disclosure">Physics</a
                >
              </li>
            </ul>
            <h3>External Links</h3>
            <ul>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  class="hover:underline no-underline font-semibold text-orange-500"
                  href="https://meritacademy.instructure.com/">Canvas</a
                >
              </li>
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  class="hover:underline no-underline font-semibold text-orange-500"
                  href="https://merit.usoe-dcs.org/Classes">Aspire SIS</a
                >
              </li>
            </ul>
          </CardContent>
        </Card>
      </div>
      <Card>
        <CardHeader>
          <CardTitle>Quote of the Day</CardTitle>
          <CardDescription
            ><cite
              ><a
                target="_blank"
                rel="noopener noreferrer"
                class="hover:underline no-underline font-semibold text-orange-500 opacity-80"
                href="http://kestrel.nmt.edu/~mce/science_quotes.html">source</a
              ></cite
            ></CardDescription
          >
        </CardHeader>
        <CardContent className="prose">
          <blockquote class="dark:text-gray-300">
            {quote.quote}
          </blockquote>
        </CardContent>
        <CardFooter>
          <p>{quote.author}, ({quote.dates})</p>
        </CardFooter>
      </Card>
    </main>
    <Footer />
  </body>
</html>
