---
import BaseHead from "@/components/BaseHead.astro";
import Header from "@/components/Header.astro";
// import EnvelopeLab from "@/components/labs/hu";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import { Button } from "@/components/ui/button";
import { TypographyH1, TypographyH2 } from "@/components/ui/typography";
const disclosures = [
  { text: "AP Physics", href: "/disclosures/ap-physics" },
  { text: "Astronomy", href: "/disclosures/astronomy" },
  { text: "Earth Systems", href: "/disclosures/earth-systems" },
  { text: "Physics", href: "/disclosures/physics" },
  { text: "Web Development 2, Advanced", href: "/disclosures/web-development-adv" },
];
const scopes = [
  {
    text: "AP Physics",
    href: "https://docs.google.com/spreadsheets/d/1Uh4aWx7r4hvYreqEZ0JqIZx7EbZrysf5pAKQE43ljCU/edit?gid=1135142711#gid=1135142711",
  },
  {
    text: "Astronomy",
    href: "https://docs.google.com/spreadsheets/d/1Uh4aWx7r4hvYreqEZ0JqIZx7EbZrysf5pAKQE43ljCU/edit?gid=0#gid=0",
  },
  {
    text: "Earth Systems",
    href: "https://docs.google.com/spreadsheets/d/1Uh4aWx7r4hvYreqEZ0JqIZx7EbZrysf5pAKQE43ljCU/edit?gid=612281687#gid=612281687",
  },
  {
    text: "Physics",
    href: "https://docs.google.com/spreadsheets/d/1Uh4aWx7r4hvYreqEZ0JqIZx7EbZrysf5pAKQE43ljCU/edit?gid=1135142711#gid=1135142711",
  },
];
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main class:list={["container-lg", "py-4"]}>
      <TypographyH2>Disclosures</TypographyH2>
      <div class="prose dark:prose-invert">
        <ul>
          {
            disclosures.map((d) => (
              <li>
                <a
                  class="hover:underline no-underline font-semibold text-orange-500"
                  href={d.href}
                >
                  {d.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
      <br />
      <TypographyH2>Scope and Sequence Spreadsheets</TypographyH2>
      <div class="prose dark:prose-invert">
        <ul>
          {
            scopes.map((d) => (
              <li>
                <a
                  target="_blank"
                  rel="noopener noreferrer"
                  class="hover:underline no-underline font-semibold text-orange-500"
                  href={d.href}
                >
                  {d.text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>
    </main>
  </body>
</html>
