---
import BaseHead from "@/components/BaseHead.astro";
import {
  TypographyH1,
  TypographyH3,
  TypographyH4,
  TypographyH5,
  TypographyP,
} from "@/components/ui/typography";
import Footer from "../components/Footer.astro";
import { CollectionEntry } from "astro:content";
// const title = "Disclosure";
// const description = "Disclosure";
type Props = CollectionEntry<"disclosure">["data"];
const og = `/og${Astro.url.pathname}.png`.replace("/.png", ".png");
const { title, description, fees, fieldWork, materials } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <style>
      th,
      td {
        text-align: center;
      }
      td {
        text-wrap: no-wrap;
        font-size: 0.75rem;
      }
      @media print {
        html *,
        html.dark *,
        html.light * {
          color: #000 !important;
        }

        body {
          background: white;
        }

        .prose {
          width: 100%;
          max-width: 100%;
          font-size: 0.8rem;
        }

        .page-break {
          page-break-before: always;
        }
      }
    </style>
    <BaseHead title={title} description={description} image={og} />
  </head>
  <body>
    <main
      class="container-lg prose dark:prose-invert print:prose-h1:mt-0 print:prose-h2:mt-0 print:prose-h3:mt-0 print:prose-h4:mt-0 print:prose-p:mt-0"
    >
      <TypographyH1 classes={["text-center", "mb-0"]}>
        {title}
      </TypographyH1>
      <TypographyP classes={["text-center", "print:mb-0"]}>
        {description}
        <br />
        <span
          >Mr. David Buckley&emsp;&emsp;<a
            href="mailto:david.buckley@meritacademy.org"
            >david.buckley@meritacademy.org</a
          >&emsp;&emsp;Room 225</span
        >
      </TypographyP>
      <slot />
      <TypographyH3>Grading</TypographyH3>
      <TypographyP>This class adheres to the letter grading scale adopted here at Merit
        Academy.
      </TypographyP>
      <table>
        <tbody>
          <tr>
            <th>A</th>
            <th>A-</th>
            <th>B+</th>
            <th>B</th>
            <th>B-</th>
            <th>C+</th>
            <th>C</th>
            <th>C-</th>
            <th>D+</th>
            <th>D</th>
            <th>D-</th>
            <th>F</th>
          </tr>
          <tr>
            <td>100-93</td>
            <td>92-90</td>
            <td>89-87</td>
            <td>86-83</td>
            <td>82-80</td>
            <td>79-77</td>
            <td>76-73</td>
            <td>72-70</td>
            <td>69-67</td>
            <td>66-63</td>
            <td>62-60</td>
            <td>59-0</td>
          </tr>
        </tbody>
      </table>
      <ul>
        <li>Labs and Projects = 50% of grade</li>
        <li>Tests = 30% of grade</li>
        <li>All Other Assignments = 20% of grade</li>
      </ul>
      <TypographyH4> Late Work and Resubmissions </TypographyH4>
      <ul>
        <li>
          There will be time to make up assignments at the end of each unit.
          Please use this time. There will be no penalty for late assignments or
          assignment resubmissions.
        </li>
        <li>
          However, <em>tests are non-retakable</em> unless special circumstances
          require it (If you are absent on test day, you can take the test on a different
          day. Testing accommodations in student's IEP still apply). Doing assignments
          promptly will properly prepare you for tests.
        </li>
        <li>
          <em>Tests will be open notes.</em>
        </li>
      </ul>
      <div class="page-break"></div>
      {materials && materials.length > 0 ? (<TypographyH3>Materials to Bring</TypographyH3>
        <ul class="flex gap-8">
  {materials.map(m => <li>{m}</li>)}
        </ul>) : null}
      <TypographyH3>Behavior Expectations</TypographyH3>
      <ul>
        <li>
          All policies found at <a
            href="https://www.meritprepacademy.org/policies"
            target="_blank"
            rel="noopener noreferrer"
            >https://www.meritprepacademy.org/policies</a
          > will be honored. A notable change across Merit this year is the phones
          and electronics policy, where phones must be out of sight and silent during
          class. Zero-tolerance.
        </li>
        <li>
          Hall pass usage - one student at a time, 10 minutes at most. If you have a phone, you must trade it in for the hall pass. More than 10 minutes counts as a sluff.
        </li>
        <li>Classroom Values</li>
        <ol>
          <li>
            <strong>Spirit</strong> - Exemplify high character, respect, and love.
          </li>
          <li>
            <strong>Opportunity</strong> - Seize the moment to try new things.
          </li>
          <li>
            <strong>Curiosity</strong> - Engage in scientific inquiry with child-like
            wonder.
          </li>

          <li>
            <strong>Perseverance</strong> - Be resilient and finish strong!
          </li>
        </ol>
      </ul>
      <TypographyH3> Course Fees </TypographyH3>
      <TypographyP>{fees}</TypographyP>
{fieldWork.length > 0 ? (<TypographyH4>Optional Field Work</TypographyH4>
      <TypographyP
        >Part of the student experience at Merit Academy is field work, where
        students have meaningful learning experiences outside the class room.
        These are optional experiences and the dates are to be determined.</TypographyP
>) : null}
      {
        fieldWork.map((item) => (
          <div>
            <TypographyH5>
              {item.website ? (
                <a
                  href={item.website}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  {item.location}
                </a>
              ) : (
                item.location
              )}
            </TypographyH5>
            <p class="text-xs">{item.fee}</p>
            <p class="text-xs">{item.motivation}</p>
          </div>
        ))
      }
      <footer class:list={["hidden", "print:block"]}>
        <pre>Student Name: __________________________________ &emsp;Parent Signature: ________________________________________

Anything for me to know? __________________________________________________________________________________</pre>
      </footer>
    </main>
    

    <Footer />
  </body>
</html>
